@media screen and (min-width: 650px) {
	.nav-appear {
		display: block;                  /* Switch from dropdown menu to navbar menu  */
	}
	.hamburger {
		display: none;
	}
}



@media screen and (min-width: 450px) {         /* Name positioning and Size changes       */
	.header-text {
		font-size: 60px;
		font-size: 11vw;
		padding: 0 0.5em 0 0;
		margin: 0.4em 0 0 0;
	}
	.header-smalltext {
		font-size: 18px;
	}
}

@media screen and (min-width: 600px) {
	.header-text {
		font-size: 80px;
		font-size: 12vw;
		top: -20px;
	}
	.header-smalltext {
		font-size: 25px;
	}
}

@media screen and (min-width: 800px) {
	.header-text {
		padding: 0 0.6em 0 0;
		font-size: 110px;
		font-size: 12vw;
	}
	.header-smalltext {
		padding: 0 2em 0 0;
		font-size: 30px
	}
	.nav-name {
		font-size: 35px;
	}
}

@media screen and (min-width: 1060px) {        /*formating and background for large displays */
	body {
		width: 1060px;
		margin: 0 auto 0 auto;
	}
	html {
		background: grey;  /*fallback*/
		background: url(../images/dc-lion-1020.jpg) no-repeat top left fixed,
		url(../images/capitol-1020.jpg) no-repeat top right fixed;
	}
	.header-text {
		font-size: 120px;
	}
	.portfolio-item:first-of-type{
		margin: 0 auto 2px 18px;      /* IMHO changing this from margin-left seems to make this code less clear since I only want to change margin-left and leave else as is*/
	}
	.portfolio-item:last-of-type {
		margin: 0 18px 2px auto;
	}
}